= simple_form_for(@part) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :partnumber
    = f.input :revision
    = f.input :customer

  .form-actions
    = f.button :submit
