= simple_form_for @part, :html => {:multipart => true } do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :partnumber
    = f.input :revision
    = f.input :customer
    = f.file_field :print

  .form-actions
    = f.button :submit
