.part-info
  %p#notice= notice
  .print-thumbnail= image_tag @part.print_url(:thumb).to_s
  %p
    %b Name:
    = @part.partnumber
  
  %p
    %b Name:
    = @part.name
  
  %p
    %b Name:
    = @part.revision

  %p
    %b Name:
    = @part.customer
  
 


  = link_to 'Edit', edit_part_path(@part)
  \|
  = link_to 'Back', parts_path
  %br

  .requirement-container
    -@part.requirements.each do |requirement|
      = div_for(requirement, class: "requirement-box") do
        .bubble= requirement.bubble
        .characteristic= requirement.characteristic.name
        .dimension= requirement.dim
        .toleranceup
          = precede "+ " do 
            =requirement.tolerance_plus
        .tolerancedn
          = precede "- " do 
            =requirement.tolerance_less
        .requirement-box-toolbar.glyphicon.glyphicon-comment

