= simple_form_for(@characteristic) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :symbol
    = f.input :two_sided
    = f.input :continuous

  .form-actions
    = f.button :submit
