%h1 Listing requirements

%table
  %tr
    %th Bubble
    %th Dim
    %th Tolerance less
    %th Tolerance plus
    %th Dim type
    %th Part
    %th
    %th
    %th

  - @requirements.each do |requirement|
    %tr
      %td= requirement.bubble
      %td= requirement.dim
      %td= requirement.tolerance_less
      %td= requirement.tolerance_plus
      %td= requirement.dim_type
      %td= requirement.part_id
      %td= link_to 'Show', requirement
      %td= link_to 'Edit', edit_requirement_path(requirement)
      %td= link_to 'Destroy', requirement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Requirement', new_requirement_path
