%p#notice= notice

%p
  %b Bubble:
  = @requirement.bubble
%p
  %b Dim:
  = @requirement.dim
%p
  %b Tolerance less:
  = @requirement.tolerance_less
%p
  %b Tolerance plus:
  = @requirement.tolerance_plus
%p
  %b Dim type:
  = @requirement.characteristic.name
%p
  %b Part:
  = @requirement.part.name

= link_to 'Edit', edit_requirement_path(@requirement)
\|
= link_to 'Back', requirements_path

= div_for(@requirement, class: "requirement-box") do
  .bubble= @requirement.bubble
  .characteristic= @requirement.characteristic.name
  .dimension= @requirement.dim
  .toleranceup
    +
    = @requirement.tolerance_plus
  .tolerancedn
    = precede "- " do 
      =@requirement.tolerance_less

  
  