%h1 Listing dim_types

%table
  %tr
    %th Name
    %th Symbol
    %th Two sided
    %th Continuous
    %th
    %th
    %th

  - @dim_types.each do |dim_type|
    %tr
      %td= dim_type.name
      %td= dim_type.symbol
      %td= dim_type.two_sided
      %td= dim_type.continuous
      %td= link_to 'Show', dim_type
      %td= link_to 'Edit', edit_dim_type_path(dim_type)
      %td= link_to 'Destroy', dim_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dim type', new_dim_type_path
